body{
    font-family: 'Roboto', sans-serif ;
    display:flex;
    align-items: center;
    justify-content: centre;
    height: 100vh;
    background-color: white;
}

.kiss{
    margin-left: 30%;
}
